<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <display-name>anpep</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Former</display-name>
    <servlet-name>Former</servlet-name>
    <servlet-class>servlets.Former</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Former</servlet-name>
    <url-pattern>/Former</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>servlets.Mail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/Mail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMailSignUp</display-name>
    <servlet-name>SendMailSignUp</servlet-name>
    <servlet-class>servlets.SendMailSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMailSignUp</servlet-name>
    <url-pattern>/sendMailSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Formation</display-name>
    <servlet-name>Formation</servlet-name>
    <servlet-class>servlets.Formation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formation</servlet-name>
    <url-pattern>/Formation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatasInterns</display-name>
    <servlet-name>DatasInterns</servlet-name>
    <servlet-class>servlets.DatasInterns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatasInterns</servlet-name>
    <url-pattern>/datasInterns</url-pattern>
  </servlet-mapping>
</web-app>